:root{
    --basecolor1 : #FF6D00;
    --basecolor2 : #FF9201;
    --basecolor3 : #FFAB41;
    --basecolor4 : #FFD181;
}
*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior:smooth;
}
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    background-color: var(--basecolor4);
    max-width: 100vw;
    overflow: hidden;
}

/* styling for head */
.short-head{
    display: none;
}
.head::before {
    background: url("head-bag.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 100%;
    font-size: 100px;
    height: 100%;
    opacity: 0.8;
    min-height: 9rem;
    z-index: -1;
}
.head {
    background-color: black;
    box-shadow: 10px 7px 5px rgba(255, 0, 0, 0.781);
    position: relative;
    margin-top: 5px;
    margin-inline: auto;
    height: 9rem;
    width: 98%;
    z-index: 0;
    overflow: hidden;
}
.nav-links,
.nav-links-2 {
    text-align: center;
    position: relative;
    top: 20px;
    left: 14%;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-links-2 {
    margin-top: 2%;
}
.nav-links :nth-of-type(2),
.nav-links :nth-of-type(3),
.nav-links-2 :nth-of-type(2),
.nav-links-2 :nth-of-type(3) {
    color: black;
    text-shadow: 0 0 1px rgba(240, 255, 240, 0.274), 0 0 2px rgba(245, 222, 179, 0.296);
}
.nav-links a,
.nav-links-2 a {
    list-style: none;
    text-shadow: 0 0 3px gray, 0 0 5px black;
    text-decoration: none;
    font-weight: bold;
    color: orange;
}        
.banner{
    font-size:25px ;
    background:linear-gradient(
        var(--basecolor3),
        var(--basecolor2),
        var(--basecolor1)
        );
    text-align: center;
    padding: 2%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.products{
    overflow: scroll;
    background-color: var(--basecolor3);
    backdrop-filter: blur(90%);
    position: absolute;
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
    border-radius: 2%;
    max-width: 100vw;
    height: 50vh;
    margin-inline: auto;
    margin-top:5%;
    padding: 15px;
}
.products *{
    all: unset;
    margin-top: auto;
    border-radius: 10%;
    margin-bottom: auto;
    position: relative;
    width: 300px;
    margin:15px;
}


























/* media query */
/* @media only screen and (max-width:1200px){
    .nav-links,
    .nav-links-2 {
        font-size: 1.5rem;
        left: 0;
    }    
}       */

/* 
@media only screen and (max-width:500px) {
    html{
        background-image:url("/images/mobile\ bag.png") ;
        background-repeat: no-repeat;
        background-size:100vw 100vh;
        max-width: 98vw;
    }    
    .nav-links,
    .nav-links-2 {
        font-size: 1.5rem;
        left: 0;
    }    
    .head, .head::before {
        height: 7rem;
    }    
    .nav-links,
    .nav-links-2 {
        left:-20px;
        font-size: 1.2rem;
        margin-top: 2%;
    }     */

    /* Page styling */
    /* .banner{
        font-size:25px ;
        background:linear-gradient(
            var(--basecolor3),
            var(--basecolor2),
            var(--basecolor1)
            );
        text-align: center;    
        padding: 2%;
        margin-top: 10%;
        margin-bottom: 5%;
    }    
    .products{
        overflow: scroll;
        background-color: var(--basecolor3);
        backdrop-filter: blur(90%);
        position: absolute;
        display:flex;
        justify-content:flex-start;
        flex-direction: row;
        border-radius: 2%;
        max-width: 92vw;
        height: 50vh;
        margin-inline: auto;
        margin-top:5%;
        padding: 15px;
    }    
    .products *{
        all: unset;
        position: relative;
        margin-top: auto;
        border-radius: 10%;
        margin-bottom: auto;
        width: 350px;
        margin:20px;
    }    
    
} */


@media only screen and (max-width:450px) {
    html{
        padding: 2%;
        background: unset;
        background-color: var(--basecolor4);
        /* background-image:url("/images/mobile\ bag.png") ; */
        /* background-repeat: no-repeat; */
        /* background-size:100vw 100vh; */
    } 
    /* .nav-links,
    .nav-links-2 {
        font-size: 1.5rem;
        left: 0;
    }*/

    /* .nav-links,
    .nav-links-2 {
        left:-20px;
        font-size: 1rem;
        margin-top: 2%;
    }       */
    .home-page{
        height: auto;
        overflow-y: scroll;
    }
    .head, .head::before {
        display: none;
    }        
    .short-nav{
        margin: auto;
    }
    .short-head::after{
        background:linear-gradient(
            90deg,
            brown,
            rgb(122, 32, 32),
            brown,
            rgb(122, 32, 32)
        );
        position: absolute;
        content: "";
        top:3px;
        border-radius: 20%;
        left:3%;
        width: 2%;
        height: 10%;
        z-index: -1;
    }
    .short-head{
        display: block;
        background:linear-gradient(
            90deg,
            var(--basecolor1) 2%,
            red 7%,
            var(--basecolor1) 5%,
            var(--basecolor1) 70%
        );
        border-radius: 2%;
        box-shadow: 2px 5px 10px rgba(255, 0, 0, 0.711);
        width: 95vw;
        margin-top: 2%;
        margin-inline: auto;
    }
    a{
        text-decoration: none;
        color: black;
        /* font-weight: bold; */
    }
    .nav-items{
        font-family:fantasy;
        font-size: large;
        display: flex;
        justify-content: space-around;
        list-style: none;
        left:0;
    }
    .nav-items *{
        display: inline;
        margin: 5px;
    }
    /* Page styling */
    .banner{
        font-size:15px ;
        background:linear-gradient(
            var(--basecolor3),
            var(--basecolor2),
            var(--basecolor1)
            );
        text-align: center;
    }
    .text{
        position: relative;
        margin-top: 5%;
    }
    .products{
        all: unset;
        overflow: scroll;
        background-color: var(--basecolor3);
        position: relative;
        display:flex;
        justify-content:flex-start;
        flex-direction: row;
        border-radius: 2%;
        width: 100%;
        height: auto;
        margin-inline: auto;
    }
    .products img{
        overflow: hidden;
        width: 80px;
    }
    .windpw-product{
        all: unset;
        border-radius: 10%;
        position: relative;
    }
    .sample-products{
        background-color: var(--basecolor3);
        backface-visibility: blur(90%);
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        width: 100%;
        height: 28vh;
        /* margin-bottom: 5%; */
        margin-top: 5%;
    }
    .sample-product:hover{
        transform: scale(105%);
        box-shadow: 2px 3px 0 rgba(255, 0, 0, 0.541);
    }
    .sample-product{
        background-color: #FF6D00;
        box-shadow: 1px 1px 0 rgba(255, 0, 0, 0.541);
        border-radius: 5px;
        position: relative;
        width: 40%;
        height: 82%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 2%;
    }
    .footer{
        margin-top:10% ;
        text-align: center;
        height: 20vh;
        width: 100%;
        padding: 2%;
    }
    .inner-product{
        background-color: beige;
        border-radius: 5%;
        height:15vh;
        margin-bottom: 5%;
    }
    .whatsapp{
        background-color: rgba(0, 192, 0, 0.575);
        border-radius: 30%;
        padding-inline: 10px;
        backdrop-filter: blur(7px);
        position: fixed;
        font-size: 3em;
        bottom: 20px;
        right: 15px;
    }



}  